.footer {
  padding: 100px 30px 50px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-self: center;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.footer-links {
  display: flex;
  flex-direction: row;
  column-gap: 2.5rem;
  list-style: none;
}
