@font-face {
  font-family: Ermilov;
  src: url(../fonts/Ermilov-bold.otf);
}
@font-face {
  font-family: Arista-Pro-Light;
  src: url(../fonts/Arista-Pro-Light.ttf);
}

/*Reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
input,
button,
textarea {
  font: inherit;
}
/*Variables*/
:root {
  /*COLORS*/
  --BG-COLOR: #fbfaff;
  --FC: #1c1c1c;
  /*Fonts*/
  --FF-OFFER: Arial;
  --FFG: Arista-Pro-Light;
  --FF: Ermilov;
  --FS: clamp(1rem, 2.2vh, 1.5rem);
  --FS-HEADER: clamp(0.66rem, 1.2vh, 0.78rem);
  /*PADDING*/
  --PADDDING-OFFER: 0.3em;
  --index: calc(1vw + 1vh);
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
/*UTILITY CLASSES*/
.offscreen {
  position: absolute;
  left: -10000px;
}
.nowrap {
  white-space: nowrap;
}
.center {
  text-align: center;
}
html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BG-COLOR);
}
body {
  height: 300vh;
  background-color: #1c1c1c;
}
.header {
  height: 3.5%;
}
.header__navbar {
  height: 100%;
}
nav {
  position: relative;
  z-index: 100;
}
.header__offer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--FS-HEADER);
  font-family: var(--FF-OFFER);
  background-color: #fbfaff;
  padding: 0.3em 0;
  position: relative;
  z-index: 101;
}
#search-container {
  display: flex;
  align-items: center;
  width: 19%;
  height: 60%;
}
#search-input {
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #fbfaff;
  border-radius: 0.5em;
  height: 100%;
  width: 100%;
  border: 1px #fbfaff solid;
  padding-left: 0.5em;
}
#search {
  background: none;
  border: none;
  height: 80%;
  width: 7%;
  padding-bottom: auto;
  padding-top: auto;
  margin-left: -1.6em;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
}
.Navbar-UL {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav li {
  margin-left: min(2em, 30px);
  font-size: 1.32rem;
}
.white-spot {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 0;
  width: 63%;
}
.header__icons {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-btn {
  display: flex;
  cursor: pointer;
  position: relative;
  justify-content: center;
}
.cart-items {
  position: absolute;
  font-size: 0.8em;
  top: 0.65em;
}
.UAH {
  font-size: 1.2rem;
}
.language {
  padding-top: 0.1em;
  margin-right: 0.5em;
  margin-left: 9px;
}

.icon {
  width: 1.8em;
}
.logo {
  width: 10rem;
  margin-right: 10px;
}

.Man-Title {
  font-family: var(--FFG);
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 44px;
  padding-left: 0.8em;
  color: #fbfaff;
}

.Man-Title2 {
  font-family: var(--FFG);
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 33px;
  margin-right: 0.7em;
  color: #f9d423;
}

.icon-filter {
  transition: 0.7s;
}
.icon-filter-rotate {
  transform: rotate(180deg);
}
.Sorting-dropdown {
  min-width: 11em;
  margin-right: 1em;
  font-family: var(--FFG);
  font-size: 2rem;
}
.Sorting-dropdown* {
  box-sizing: border-box;
}
.select {
  font-family: var(--FFG);
  font-size: 2rem;
  color: #f9d423;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  padding-left: 2em;
}
.selected {
  margin-right: 0.7em;
}
.Select-Hide {
  display: flex;
  align-items: center;
  width: 50%;
  cursor: pointer;
}
.caret {
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.1em 0.5em;
  background: var(--FC);
  border-radius: 0.5em;
  opacity: 0;
  color: #f9d423;
  display: none;
  transition: 0.2s;
  z-index: 1;
}
.menu li {
  padding: 0.2em 0.5em;
  margin: 0.3em 0;
  cursor: pointer;
}

.menu li:hover {
  font-size: 2.1rem;
}
.menu-open {
  display: block;
  opacity: 1;
}

.sex-filter {
  border-bottom: 1px solid #fbfaff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 1em;
  padding-bottom: 1.8em;
  width: 92%;
}

.numbers {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.price-filter {
  border-bottom: 1px solid #fbfaff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 1em;
  width: 92%;
  margin-top: 2em;
  padding-bottom: 1.8em;
}

.type-filter {
  border-bottom: 1px solid #fbfaff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 1em;
  width: 92%;
  margin-top: 2em;
  padding-bottom: 1.8em;
}

.size-filter {
  border-top: 1px solid #fbfaff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 1em;
  width: 92%;
  margin-top: 4em;
  padding-top: 1.5em;
  padding-bottom: 1.8em;
}

.left-filter {
  font-family: var(--FFG);
  color: #fbfaff;
  flex-direction: column;
  border-right: 1px solid #fbfaff;
  transition: var(--mainTransition);
  transform: translateX(0);
}

.wrapper {
  margin-top: 4em;
  display: flex;
}

.Line-Vert {
  width: 0.1em;
  order: 998;
}

.filter-info {
  justify-content: space-between;
  margin-top: 3em;
  display: flex;
  height: 10vh;
  align-items: center;
}
.main {
  height: 100%;
}
.filter-settings {
  width: 90vh;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-right: 3em;
}

.color-input {
  margin-right: 5px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #3498db;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}
.All-form {
  font-size: 2rem;
}

.Line-Horizontal {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.title {
  font-size: 3rem;
  margin-left: 0.5em;
}
.TypeRun {
  font-size: 3rem;
}

.run-form {
  padding-top: 0.5em;
  font-size: 2rem;
  margin-left: 1em;
}

.color-filter {
  margin-top: 2em;
  margin-left: 1em;
}

.color-label {
  margin-top: 0.2em;
  padding-left: 0;
}

.color-label::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  border: none;
}

input[type="checkbox"]:checked + .color-label::before {
  content: "\2713";
  border: none;
  color: #1c1c1c;
}

input[type="checkbox"]:checked + .color-label-black::before {
  content: "\2713";
  border: none;
  color: #fbfaff;
}

.color-label-turquoise::before {
  background-color: turquoise;
}
.color-label-yellow::before {
  background-color: yellow;
}
.color-label-black::before {
  background-color: #222;
}
.color-label-red::before {
  background-color: red;
}
.color-label-blue-bright::before {
  background-color: rgb(150, 152, 255);
}
.color-label-beige::before {
  background-color: beige;
}
.color-label-orange::before {
  background-color: orange;
}
.color-label-green::before {
  background-color: green;
}
.color-label-grey::before {
  background-color: grey;
}
.color-label-purple::before {
  background-color: purple;
}
.color-label-blue::before {
  background-color: blue;
}

.colors {
  width: 90%;
  padding-right: 1.5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
}

.sizes {
  width: 90%;
  padding-right: 1.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.rect-size::before {
  width: 4rem;
  height: 2rem;
  border-radius: 12%;
  background-color: #f9c31f;
  border: none;
  font-family: Helvetica, sans-serif;
  color: #1c1c1c;
  font-size: 1.4rem;
}

.size-3-5::before {
  content: "3.5";
}

input[type="checkbox"] {
  display: none;
}
label {
  display: inline-block;
  margin-bottom: 0.4em;
  position: relative;
  padding-left: 1.2em;
  cursor: pointer;
}

label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 20%;
  border: none;
  background-color: #fbfaff;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked + .active-dot::before {
  background-color: #f9d423;
  content: "\2022";
  border: none;
  color: #1c1c1c;
  font-size: 5rem;
}

#products {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
  grid-row-gap: 3em;
  padding: 2em 0;
  margin: 0 auto;
  order: 999;
  transition: var(--mainTransition);
}

.card {
  background-color: #fbfaff;
  border-radius: 0.5em;
  box-sizing: border-box;
  height: 50vh;
}

.image-container {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.container {
  padding-top: 1em;
  color: #1c1c1c;
}
h3 {
  margin-left: 1em;
  font-size: 1rem;
  color: #1c1c1c;
  font-family: var(--FF);
}
h5 {
  margin-top: 2em;
  margin-left: 1em;
  font-size: 1rem;
  color: #1c1c1c;
  font-family: var(--FF);
}
.hide {
  display: none;
}
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 200;
  visibility: hidden;
}
.cart {
  color: #1c1c1c;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 203;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.cart-name {
  width: 56%;
}
.cart-item img {
  width: 25%;
  height: auto;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.icons-change {
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1em;
}
/* --------------- End of Cart ---------------- */
.clear-cart {
  border: none;
  width: 50%;
  padding: 1em;
  background-color: #f09d51;
  border-radius: 1em;
}
.clear-cart:hover {
  background-color: #f0b176;
  cursor: pointer;
}
.clear-cart:active {
  background-color: #daba9c;
}

/* [data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 300px;
  left: -120px;
  top: 0;
  background: rgba(0, 0, 0, 0.705);
  color: #fff;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  transition: 1s;
  text-align: center;
  border-radius: 15px;
}

[data-tooltip]:hover::after {
  opacity: 1;
  top: 2em;
} */
