@font-face {
  font-family: Ermilov;
  src: url(../fonts/Ermilov-bold.otf);
}
@font-face {
  font-family: Arista-Pro-Light;
  src: url(../fonts/Arista-Pro-Light.ttf);
}

/*Reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
input,
button,
textarea {
  font: inherit;
}
/*Variables*/
:root {
  /*COLORS*/
  --BG-COLOR: #fbfaff;
  --FC: #1c1c1c;
  /*Fonts*/
  --FF-OFFER: Arial;
  --FF: Ermilov;
  --FS: clamp(1rem, 2.2vh, 1.5rem);
  --FS-HEADER: clamp(0.66rem, 1.2vh, 0.78rem);
  /*PADDING*/
  --PADDDING-OFFER: 0.3em;
  --index: calc(1vw + 1vh);
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
/*UTILITY CLASSES*/
.offscreen {
  position: absolute;
  left: -10000px;
}
.nowrap {
  white-space: nowrap;
}
.center {
  text-align: center;
}
html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BG-COLOR);
}
body {
  height: 300vh;
  background-color: #1c1c1c;
}
.header {
  height: 11%;
}
nav {
  position: relative;
  z-index: 100;
}
.header__offer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--FS-HEADER);
  font-family: var(--FF-OFFER);
  background-color: #fbfaff;
  padding: 0.3em 0;
  position: relative;
  z-index: 101;
}

#search-input {
  background-repeat: no-repeat;
  background-position: right center;
  height: 2rem;
  width: 15rem;
  padding: 0 0.6em;
  background-color: #fbfaff;
  border-radius: 7px;
  border: 1px #fbfaff solid;
  margin-top: 0.4em;
}
#search {
  background: none;
  border: none;
  height: 30px;
  width: 30px;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
}
.Navbar-UL {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav li {
  margin-left: min(2em, 30px);
  font-size: 1.32rem;
}
.white-spot {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 0;
  width: 63.5%;
}
.header__icons {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-btn {
  display: flex;
  cursor: pointer;
  position: relative;
  justify-content: center;
}
.cart-items {
  position: absolute;
  font-size: 0.8em;
  top: 0.65em;
}

.language {
  padding-top: 0.1em;
  margin-right: 0.5em;
  margin-left: 9px;
}

.icon {
  width: 1.8em;
}
.logo {
  width: 10rem;
  margin-right: 10px;
}

.Man-Title {
  position: absolute;
  width: 513px;
  height: 4vh;
  left: 37px;
  top: 229px;

  font-family: var(--FFG);
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 44px;

  color: #fbfaff;
}

.Man-Title2 {
  position: absolute;
  width: 345px;
  height: 43px;
  left: 28em;
  top: 235px;

  font-family: var(--FFG);
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 33px;

  color: #f9d423;
}

.icon-filter {
  position: absolute;
  width: 39px;
  height: 39px;
  left: 66em;
  top: 11.3em;
  transition: 0.7s;
}
.icon-filter-rotate {
  transform: rotate(180deg);
}
.Sorting-dropdown {
  min-width: 11em;
  position: absolute;
  height: 43px;
  left: 34em;
  top: 4.7em;
  margin-right: 1em;

  font-family: var(--FFG);
  font-size: 2rem;
}
.Sorting-dropdown* {
  box-sizing: border-box;
}
.select {
  color: #f9d423;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  padding: 1em;
}

.caret {
  left: 7em;
  position: absolute;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.1em 0.5em;
  background: var(--FC);
  border-radius: 0.5em;
  opacity: 0;
  color: #f9d423;
  display: none;
  transition: 0.2s;
  z-index: 1;
}
.menu li {
  padding: 0.2em 0.5em;
  margin: 0.3em 0;
  cursor: pointer;
}

.menu li:hover {
  font-size: 2.1rem;
}
.menu-open {
  display: block;
  opacity: 1;
}

.Line-Vert {
  position: absolute;
  top: 20em;
  left: 23em;
}

.DivAllFilter {
  position: absolute;
  left: 2em;
  top: 21em;
  font-family: var(--FFG);
  color: #fbfaff;
}

.All-form {
  font-size: 2rem;
}

.Line-Gor {
  position: absolute;
  top: 35em;
  left: 3em;
}

.DivRun {
  position: absolute;
  left: 2em;
  top: 25em;
  font-family: var(--FFG);
  color: #fbfaff;
}

.TypeRun {
  font-size: 3rem;
}

.run-form {
  padding-top: 0.5em;
  font-size: 2rem;
}

input[type="checkbox"] {
  display: none;
}
label {
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
  padding-left: 1.2em;
  cursor: pointer;
}

label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.8em;
  height: 0.8em;
  border-radius: 20%;
  border: 2px solid #fbfaff;
}

input[type="checkbox"]:checked + label:before {
  background-color: #f9d423;
}

#products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: dense;
  grid-column-gap: 0;
  padding: 4em 0;
  margin-left: 27em;
}

.card {
  background-color: #fbfaff;
  border-radius: 0.5em;
  width: 18em;
  height: 22em;
  margin-bottom: 2em;
}

.image-container {
  text-align: center;
}

img {
  max-width: 100%;
  object-fit: contain;
}
.container {
  padding-top: 1em;
  color: #1c1c1c;
}
h3 {
  margin-left: 1em;
  font-size: 1rem;
  color: #1c1c1c;
  font-family: var(--FF);
}
h5 {
  margin-top: 2em;
  margin-left: 1em;
  font-size: 1rem;
  color: #1c1c1c;
  font-family: var(--FF);
}
.hide {
  display: none;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 200;
  /*visibility: hidden;*/
}
.cart {
  color: #1c1c1c;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  /*transform: translateX(100%);*/
}
.icons-change {
  margin-left: auto;
  margin-right: 1em;
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.clear-cart {
  border: none;
  width: 50%;
  padding: 1em;
  background-color: #f09d51;
  border-radius: 1em;
}

.clear-cart:hover {
  background-color: #f0b176;
  cursor: pointer;
}

.clear-cart:active {
  background-color: #daba9c;
}

.cart-item img {
  width: 100%;
  height: auto;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
